<a href="https://colab.research.google.com/github/futureCodersSE/working-with-data/blob/main/How_happy_is_the_world.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How happy is the world?

![HappinessImage-Benjamin Scott](https://drive.google.com/uc?id=1wWdXTclLAjPpZUiKkR8XGg0Sl7iD1u8T)  

(Image by Benjamin Scott, [source](https://www.natureindex.com/news-blog/data-visualization-these-are-the-happiest-countries-world-happiness-report-twenty-nineteen))   

The Sustainable Development Solutions Network (SDSN) collects data across the world relating to happiness.  They use this data to rank countries in order of happiness factor.

This is not an exact science but can give food for thought in terms of what factors might have the most impact on a nation's happiness levels.

Data is taken from the Gallup World Poll, so not collected directly by SDSN.  
Countries are grouped by region.  

### The factors included are:
Economy (measured in GDP per Capita)	
Family (support systems) 	
Health (measured by Life Expectancy)	
Freedom (sense of)  	 
Trust (Government Corruption)	
Generosity (charitable inclinations)  	
Dystopia Residual 
*  Dystopic is the theoretical most unhappy country with the lowest levels in all six of the above factors  
*  The Residual measure is a calculated as the average of the six distances from lowest

Let's take a look at the data

---
### Open a data set

Open the data set, an Excel file with only one sheet (so sheet_name is not necessary) from here: https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2015.xlsx?raw=true

Interrogate the data (head, tail, iloc) to get to know what it contains.

In [16]:
import pandas as pd
url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2017.xlsx?raw=true'
happiness = pd.read_excel(url)
happiness.tail()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005

---
### Sort the data in different ways

The data is currently sorted in order of rank.  To sort the data in the table, run the code below, which identifies the column on which to sort in the brackets.

Then, **try sorting on other columns** *Note: you must type the column heading in the quotes and exactly as it appears in the table (including capitalisation)*.  To sort on multiple columns, enter a list of column headings in the brackets (e.g. `.sort_values(['Region','Freedom'])`

In [7]:
sorted_table = happiness.sort_values(['Happiness Score'], ascending=False)
sorted_table  # output the table below

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

---
### Summarising the data

Look at the happiness dataframe.  Create new dataframes from a range of rows, columns, statistical information, etc.

For each dataframe, add a text cell to explain what it is showing

In [ ]:
#Table showing happiness ranking and health

In [8]:
happinessHealth = happiness[['Country', 'Happiness Rank', 'Health (Life Expectancy)']]
happinessHealth

         Country  Happiness Rank  Health (Life Expectancy)
0    Switzerland               1                   0.94143
1        Iceland               2                   0.94784
2        Denmark               3                   0.87464
3         Norway               4                   0.88521
4         Canada               5                   0.90563
..           ...             ...                       ...
153       Rwanda             154                   0.42864
154        Benin             155                   0.31910
155        Syria             156                   0.72193
156      Burundi             157                   0.22396
157         Togo             158                   0.28443

[158 rows x 3 columns]

In [ ]:
#Showing data for freedom, trust in gov and happiness in the middle of the dataset

In [15]:
happinessFreedomCorruption = happiness[['Country', 'Freedom', 'Trust (Government Corruption)','Happiness Score']].iloc[60:81]
happinessFreedomCorruption

         Country  Freedom  Trust (Government Corruption)  Happiness Score
60      Malaysia  0.53024                        0.10501            5.770
61       Croatia  0.25883                        0.02430            5.759
62         Libya  0.41668                        0.11023            5.754
63        Russia  0.36679                        0.03005            5.716
64       Jamaica  0.50442                        0.02299            5.709
65  North Cyprus  0.49027                        0.14280            5.695
66        Cyprus  0.40672                        0.06146            5.689
67       Algeria  0.28579                        0.17383            5.605
68        Kosovo  0.24749                        0.04741            5.589
69  Turkmenistan  0.47610                        0.30844            5.548
70     Mauritius  0.56066                        0.07521            5.477
71     Hong Kong  0.59608                        0.37124            5.474
72       Estonia  0.44888                        0.15184            5.429
73     Indonesia  0.46611                        0.00000            5.399
74       Vietnam  0.59444                        0.10441            5.360
75        Turkey  0.22815                        0.15746            5.332
76    Kyrgyzstan  0.43477                        0.04232            5.286
77       Nigeria  0.34334                        0.04030            5.268
78        Bhutan  0.53206                        0.15445            5.253
79    Azerbaijan  0.37030                        0.16065            5.212
80      Pakistan  0.12102                        0.10464            5.194

---
### Next steps

There are data sets for the years 2015 to 2019 available.  To access and try out other years, change 2015 to the required year in the URL in the first code cell.  Leave the rest exactly as it is.  

Other years may have different column headings and so there will be different data to play with.